body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background:  url(blue1.jpg) no-repeat;
    
    background-attachment:fixed;
    background-size: cover;
}.topnav {
    padding: 30px 0;
    background: rgba(0, 0, 0,.8);
	width: 100%;
    color: #fff;
}
.topnav .links{
   margin-left: 16px;
}
  .topnav .btn-logout button {
    float: right;
    background-color:transparent;
    margin-right: 16px;
    font-size: 17px;
    margin-top: -10px;
    padding: 14px;
    color: #00bcd4;
    border-radius: 5px;
    border: none;
    cursor: pointer;
 }
 .topnav a {
     padding: 10px 10px;
     text-decoration: none;
     display: inline;
     background-color: #00bcd4;
}
.heada{
    margin: 50px 10%;
    width: 80%;
    padding: 20px 40px ;
    background: rgba(0, 0, 0,.8);
    box-sizing: border-box;
    box-shadow: 0 15px 15px rgba(0, 0, 0,.5);
    border-radius: 15px;
    text-align: center;
    color: #fff;
}
.heada h2{
    font-size: 40px;
    color: #00bcd4;
}
.heada a{
    text-decoration: none;
}
.btn-logout{
    float: right;
}
.quest{
    margin: 50px 10%;
    width: 80%;
    padding: 20px 40px ;
    background: rgba(0, 0, 0,.8);
    box-sizing: border-box;
    box-shadow: 0 15px 15px rgba(0, 0, 0,.5);
    border-radius: 15px;
    color:  white;
    text-align: left;
}
.quest .date{
    text-align: right;
    font-size: 12px;
}
.box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 50%;
    padding: 20px 40px ;
    background: rgba(0, 0, 0,.8);
    box-sizing: border-box;
    box-shadow: 0 15px 15px rgba(0, 0, 0,.5);
    border-radius: 15px;
    display: none;
}
.box h2{
    margin-bottom: 20px;
    padding: 0;
    color: #fff;
    text-align: center;
}
.box p{
    margin-bottom: 10px;
    font-size: 13px;
    padding: 0;
    color: #fff;
    text-align: left;
}
.box .inputbox{
    position: relative;
}
.post-answer .inputbox input{
    width: 100%;
    color: white;
    padding: 10px 0;
    font-size: 16px;
    margin-bottom: 30px;
    letter-spacing: 2px;
    border: none;
    outline: none;
    border-bottom: 1px solid olive;
    background: transparent;

}
.box .btn{
    width: 50%;
    color: white;
    padding: 10px 0;
    font-size: 16px;
    margin-bottom: 30px;
    letter-spacing: 2px;
    border: none;
    border: 1px solid olive;
    background: transparent;

}
.margin-r {
    width: 20px;
    margin-right: 20px;
}
.box .inputbox label{
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    padding: 10px 0;
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}

.box .inputbox input:focus + label,
.box .inputbox input:valid + label{
    top: -18px;
    left: 0;
    color: #00bcd4;
    font-size: 12px;
}
.box input[type="submit"]{
    background: transparent;
    border: none;
    outline: none;
    color: white;
    background-color: #00bcd4;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px; 
}
.forgot{
    float: right;
    color: white;
}
.submt{
    margin-bottom: 10px;
}
.signupchcks{
    color: white;
    text-align: center;
}.signupchcks a{
    color: #00bcd4;
}
.footer {
    padding: 20px 0;
    text-align: center;
    background: #00bcd4;
	width: 100%;
    margin-top: 10px;
    color: #fff;
}
.footer a{
    text-decoration: none;
    color: #00bcd4;
}
.answer-comments{
    float: right;
    margin-right: 10%;
    color: aquamarine;
}



@media screen and (max-width: 600px) {
    body{
    background: url(blue2.jpg) no-repeat;
    }
    input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
    .box{
        top: 30%;
        width: 70%;
    }
    .forgot{
        font-size: 12px;
        text-align: center;
    }
}
@media screen and (max-width: 800px) {
    .box{
        top: 30%;
    }body{
        background: #00bcd4;
        }
}